body {
  background-color: #508bfc;
}

/* MyComponent.css */

.b {
  background-image: url("C:\Users\nadee\OneDrive\Desktop\React\MediRoster\src\assets\images\healthcare-seo-62f4da62ebffb-sej-1520x800.webp");
  background-repeat: no-repeat;  
  background-size: cover;
  height: 100vh;

  /* You can adjust these styles as needed */
}

/* Target the specific element with the class name */
.fw-bold.mb-2.text-center {
  font-family: "Montserrat", sans-serif; /* Replace with your desired font family */
  font-size: 36px; /* Adjust the font size as needed */
  font-weight: bold; /* You can adjust the font weight */
  /* Add any other font-related properties here */
}

 

 

